# Postgres
POSTGRES_USER=flaky_admin
POSTGRES_PASSWORD=change_me_locally
POSTGRES_DB=flaky_radar
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Full connection strings your Node apps will consume later
DATABASE_URL=postgresql://flaky_admin:change_me_locally@localhost:5432/flaky_radar
REDIS_URL=redis://localhost:6379
